/* CSS For Bigger Album Art */
.SbnCtrl {
	background: none !important;
}
.StatusBarCtrl {
	background: rgba(40,40,45,0.5) !important;
	border-bottom: 1px solid #0006a7 !important;
}
.UmpScrubberStyle01,
.UmpScrubberStyle02,
.UmpScrubberStyle03,
.UmpScrubberStyle06,
.Ump3CtrlBufferStyle01,
.Ump3CtrlBufferStyle02,
.Ump3CtrlBufferStyle03,
.Ump3CtrlBufferStyle04,
.Ump3CtrlBufferStyle05
{
  top: 22px !important;
}
.Ump3CtrlElapsedTime
{
  top: 15px !important;
  left: 25px  !important;
}
.Ump3CtrlTotalTime
{
  top: 15px !important;
  left: 685px  !important;
}
.Ump3CtrlBackground {
  position: inherit !important;
  top: 59px !important;
  left: 0 !important;
  width: 800px !important;
  height: 89px !important;
  border-top: 0px solid #606060 !important;
  background: url('/jci/gui/common/images/controls_bg.png') !important;
}
.NowPlaying4CtrlTitle,
.NowPlaying4CtrlTitleFull {
  top: 15px !important;
  left: 14px !important;
  width: 460px !important;
  max-width: 620px !important;
  padding: 3px 8px 4px 15px !important;
  border: 1px solid #0006a7 !important;
  border-bottom: 2px #404040 !important;
  border-radius: 10px 15px 0px 0px !important;
  background:rgba(40,40,45,0.5) !important;
  z-index: 100 !important;
}
.NowPlaying4CtrlArtworkImageDiv {
  position: absolute !important;
  top: 0px !important;
  left: 0px !important;
  width: 800px !important;
  height: 480px !important;
  background: none !important;
/*  overflow: hidden; */
}
.NowPlaying4CtrlArtworkImage {
  width: 800px !important;
  max-width: 800px !important;
  height: 800px !important;
  max-height: 800px !important;
  filter: blur(5px) !important;
  opacity: 0.4 !important;
}
.NowPlaying4CtrlArtworkImageBorder {
  display: none !important;
}
.NowPlaying4CtrlInfoBox,
.NowPlaying4CtrlInfoBoxFull {
  top: 72px !important;
  left: 14px !important;
  width: 640px !important;
  max-width: 640px !important;
  max-height: 200px !important;
  padding: 14px 8px 10px 15px !important;
  border: 1px solid #0006a7 !important;
  border-radius: 0px 25px 10px 25px !important;
  background: url('/jci/gui/common/images/radio_icon.png'), rgba(40,40,45,0.5) !important;
  display: inline-block !important;
  white-space: normal !important;
  text-transform: capitalize !important;
}
.NowPlaying4CtrlUnformattedText {
  padding-left: 15px !important;
  font-size: 28px !important;
  white-space: normal !important;
  width: 440px !important;
  text-transform: capitalize !important;
}
